
.vs/TourManagementMAUI/FileContentIndex/
/.vs/TourManagementMAUI/FileContentIndex
/TourManagementMAUI/obj
/.vs/TourManagementMAUI/v17
/.vs/TourManagementMAUI/v17
/TourManagementMAUI/bin
/.vs/TourManagementMAUI/v17
