@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <!-- Chuyển đến trang tiếp theo mã đã từng tới-->
            <button class="btn btn-info me-3" onclick="prevPage()">Prev</button>
            <!-- Chuyển đến trang trước đó -->
            <button class="btn btn-info" onclick="nextPage()">Next</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

