<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Quản lý bán vé tour du lịch</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/index">
                Admin
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nhanvien/index">
                Quản lý nhân viên
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="huongdanvien/index">
                Quản lý hướng dẫn viên
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="khachhang/index">
                Quản lý khách hàng
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="daily/index">
                Quản lý đại lý
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tour/index">
                Quản lý tour
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tourdangchay/index">
                Quản lý tour đang chạy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vetour/index">
                Quản lý vé tour
            </NavLink>
        </div>
    </nav>
</div>
